/// FONTS ///
@font-face {
  font-family: "Gilroy"; 
  src: url("/fonts/Gilroy-Black.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 
/// FONTS ///


/// ELEMENTS /// 
.label-underline{
  background-image: url('/img/elements/red-underline.png');
  width: 40px;
  height: 10px;
  margin: 0 auto;
}
.label-large{
  font-size: 32px;
  text-align: center;
}
.label-small{
  text-align: center;
}
.button-large{
  width: 205px;
  height: 50px;
  margin: 0 auto;
  border-radius: 14px;
  border: none;
  color: white;
  background-color: #ec9109;
  font-size: 20px;
  margin: 0 auto;
}
/// === ///
body{
  margin: 0;
  font-family: "Gilroy";
}
/// HEADER ///
.section-header{
  width: 100%;
  
  background-image: url('/img/header-background.png');
  background-position: center;
  background-size: cover;
  height: 998px;
  display: flex;
  justify-content: center;
  .header-block{
    max-width: 1170px;
    width: 100%;
    
    .header-block-nav{
      display: flex;
      justify-content: space-around;
      height: 143px;
      
      
      .header-block-ul-nav{
        margin: auto 0;
        ul{
          display: flex;
          justify-content: space-between;
          width: 295px;
          list-style: none;
          li{
            list-style: none;
            text-decoration: none;
          }
        }
      }
      
      .header-block-logo{
        background-image: url('/img/header-logo.png');
        width: 169px;
        height: 93px;
      }
      .header-block-contacts{
        display: flex;
        justify-content: space-between;
        width: 338px;
        margin:  auto 0;
      }
    }
    .header-block-main{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 708px;
      height: 180px;
      margin: 0 auto;
      .header-block-main-label-large{
        font-size: 32px;
        text-align: center;
      }
      .header-block-main-label-small{
        text-align: center;
      }
      button{
        width: 205px;
        height: 50px;
        margin: 0 auto;
        font-size: 20px;
        border-radius: 13px;
        color: white;
        background-color: rgb(226, 145, 38);
        border: none;
      }
    }
  }
}
/// ==== ///

/// SECTION-SLIDER ///
.section-slider{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -100px;
  .slider-block{
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 630px;   
    .slider-block-label-large{
      text-align: center;
      font-size: 32px;
    }
    .slider-block-label-underline{
      background-image: url('/img/elements/red-underline.png');
      width: 40px;
      height: 10px;
      margin: 0 auto;
    }
    .slider-block-carousel{
      margin: 0 auto;
      

      .carousel-content{
        .carousel-content-img{
          
          width: 781px;
          height: 424px;
          background-image: url('/img/carousel-img/carousel-img-1.png');
        }
        
      }

    }
    .content-arrow{
      display: flex;
      justify-content: center;
      .content-arrow-left{
        width: 30px;
        height: 30px;
        border-top: 2px solid #a1a0a1;
        border-right: 2px solid #a1a0a1;
        transform: rotate(-135deg);
      }
      .content-arrow-right{
        width: 30px;
        height: 30px;
        border-top: 2px solid #a1a0a1;
        border-right: 2px solid #a1a0a1;
        transform: rotate(45deg);
      }
    }
  }
}
/// ==== ///

/// SECTION-CALCULATOR ///
.section-calculator{
  background-color: rgb(227, 229, 233);
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  
  .calculator-block{
    max-width: 1170px;
    width: 100%;
    height: 585px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .calculator-block-content{
      display: flex;
      

      form{
        width: 602px;
        height: 349px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 14px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        
        .form-block{
          display: flex;
          justify-content: space-between;
          width: 460px;
          margin: 0 auto;
          label{
            margin: auto 0;
          }
          select{
            
            width: 50%;
            height: 42px;
            border-radius: 9px;
            padding-left: 10px;
            font-size: 16px;
          }
          input{
            width: 50%;
          }
        }
        button{
          border-radius: 14px;
          border: none;
          color: white;
          background-color: #ec9109;
          font-size: 20px;
          margin: 0 auto;
          width: 205px;
          height: 50px;
        }
      }
      .calculator-block-content-img{
        
        width: 60%;
        height: 423px;
        background-image: url('/img/calculator-img/section-calculator.png');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
/// === /// 


///SECTION-STORE///
.section-store{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  .store-block{
    max-width: 1170px;
    width: 100%;
    
    .store-block-nav{
      
      ul{
        display: flex;
        justify-content: center;
        li{
          list-style: none;
          margin-right: 30px;
          text-decoration: underline;
          a{
            color: black;
          }
        }
      }
    }
    .store-block-content{
      
      display: flex;
      justify-content: space-between;
      .store-block-content-card{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        width: 253px;
        height: 358px;
        border: 2px solid gray;
        border-radius: 10px;
        &:hover{
          border: 2px solid rgb(58, 209, 219);
          
        }
        .card-img{
          height: 274px;
          border-radius: 12px;
          background-image: url('/img/store-img/store-card-img-1.png');
          background-position: center;
        }
        .card-name{
          text-align: center;
        }
      }

    }
    button{
      margin-top: 50px;
      
      
      text-align: center;
      
    }
  }
}
/// ==== /// 



///SECTION-INFORMATION///
.section-information{
  height: 424px;
  background-color: rgb(47, 199, 219);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  .information-block{
    width: 100%;
    max-width: 1170px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .information-block-label-large{
      margin-top: 50px;
      div{
        margin-top: 20px;
      }
    }
    .information-block-content{
      margin-top: 60px;
      display: flex;
      justify-content: space-around;
      .information-block-content-card{
        .information-block-content-card-img{
          display: flex;
          justify-content: center;
        }
        .information-block-content-card-text{
          text-align: center;
        }
      }
    }
  }
}
/// === ///

///SECTION-QUESTIONS/// 
.section-questions{

  .questions-block{
    display: flex;
    flex-direction: column;
    .label-large{
      margin-top: 50px;
      margin-bottom: 10px;
    }
    .label-small{
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .question-block-form{
      display: flex;  
      flex-direction: column;
      input{
        margin: 15px auto;
        width: 313px;
        height: 42px;
        border-radius: 8px;
        border: 1px solid gray;
        outline: none;
        padding-left: 3%;
        box-sizing: border-box;
        &:focus{
          border: 1px solid rgb(84, 199, 228);

        }
      }
      .button-large{
        margin-top: 20px;
        margin-bottom: 100px;
      }
    }
  }
}
/// === /// 


///SECTION-FOOTER/// 

.section-footer{
  width: 100%;
  background-image: url('/img/footer-img/footer-background.png');
  height: 388px;
  display: flex;
    justify-content: center;
  .footer-block{
    margin: auto 20px;
    max-width: 1170px;
    width: 100%;
    
    
    .footer-block-contacts{
      
      width: 455px;
      height: 297px;
      background-color: white;
      display: flex;
      flex-direction: column;
      margin-left: 5%;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      border-radius: 12px;
      .footer-block-contacts-label{
        font-size: 24px;
        margin-left: 10%;
        margin-top: 5%;
      }
      .footer-block-contacts-content{
        margin-left: 10%;
        margin-top: 20px;
        .footer-block-contacts-content-card{
          
          display: flex;
          margin-bottom: 20px;
          .footer-block-contacts-content-card-icon{
            margin-right: 30px;
          }
        }
      }
    }
  }
}
/// === ///